.DS_Store
Monolithic_crystal_0311.pdf
"To 柏涵 monolithic PPKTP_new".pptx
"To 柏涵 monolithic PPKTP".pdf
'To 柏涵 monolithic PPKTP_new'.pptx
'PPKTP PPLN 非線性係數'.pptx
Monolithic_crystal.key
Spacing_issue.key
/Papers/*
PPKTP_PPLN_NLcoef.pptx
PoHan_monolithic_PPKTP.pdf
PoHan_monolithic_PPKTP_new.pptx
.DS_Store
*/DS_Store